Dulces_WSConsumer/src/conf/xml-resources/web-service-references/PersonaWS/wsdl/localhost_8080/Dulces_WSProvider/PersonaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="PersonaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Dulces_WSProvider/PersonaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="loginSPersona">
<part name="parameters" element="tns:loginSPersona"/>
</message>
<message name="loginSPersonaResponse">
<part name="parameters" element="tns:loginSPersonaResponse"/>
</message>
<message name="readSPersona">
<part name="parameters" element="tns:readSPersona"/>
</message>
<message name="readSPersonaResponse">
<part name="parameters" element="tns:readSPersonaResponse"/>
</message>
<message name="updateSPersona">
<part name="parameters" element="tns:updateSPersona"/>
</message>
<message name="updateSPersonaResponse">
<part name="parameters" element="tns:updateSPersonaResponse"/>
</message>
<message name="findSPersona">
<part name="parameters" element="tns:findSPersona"/>
</message>
<message name="findSPersonaResponse">
<part name="parameters" element="tns:findSPersonaResponse"/>
</message>
<message name="createSPersona">
<part name="parameters" element="tns:createSPersona"/>
</message>
<message name="createSPersonaResponse">
<part name="parameters" element="tns:createSPersonaResponse"/>
</message>
<message name="deleteSPersona">
<part name="parameters" element="tns:deleteSPersona"/>
</message>
<message name="deleteSPersonaResponse">
<part name="parameters" element="tns:deleteSPersonaResponse"/>
</message>
<portType name="PersonaWS">
<operation name="loginSPersona">
<input wsam:Action="http://ws/PersonaWS/loginSPersonaRequest" message="tns:loginSPersona"/>
<output wsam:Action="http://ws/PersonaWS/loginSPersonaResponse" message="tns:loginSPersonaResponse"/>
</operation>
<operation name="readSPersona">
<input wsam:Action="http://ws/PersonaWS/readSPersonaRequest" message="tns:readSPersona"/>
<output wsam:Action="http://ws/PersonaWS/readSPersonaResponse" message="tns:readSPersonaResponse"/>
</operation>
<operation name="updateSPersona">
<input wsam:Action="http://ws/PersonaWS/updateSPersonaRequest" message="tns:updateSPersona"/>
<output wsam:Action="http://ws/PersonaWS/updateSPersonaResponse" message="tns:updateSPersonaResponse"/>
</operation>
<operation name="findSPersona">
<input wsam:Action="http://ws/PersonaWS/findSPersonaRequest" message="tns:findSPersona"/>
<output wsam:Action="http://ws/PersonaWS/findSPersonaResponse" message="tns:findSPersonaResponse"/>
</operation>
<operation name="createSPersona">
<input wsam:Action="http://ws/PersonaWS/createSPersonaRequest" message="tns:createSPersona"/>
<output wsam:Action="http://ws/PersonaWS/createSPersonaResponse" message="tns:createSPersonaResponse"/>
</operation>
<operation name="deleteSPersona">
<input wsam:Action="http://ws/PersonaWS/deleteSPersonaRequest" message="tns:deleteSPersona"/>
<output wsam:Action="http://ws/PersonaWS/deleteSPersonaResponse" message="tns:deleteSPersonaResponse"/>
</operation>
</portType>
<binding name="PersonaWSPortBinding" type="tns:PersonaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginSPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readSPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonaWS">
<port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
<soap:address location="http://localhost:8080/Dulces_WSProvider/PersonaWS"/>
</port>
</service>
</definitions>